html{
    box-sizing: border-box;
}

body{
    background-color: #2511d8;
}

header{
    background-color: green;
}

<<<<<<< HEAD
footer{
	background-color: blue;
=======
section{
    background-color:yellow;
>>>>>>> 24b63d3d14524cb9d78c7a1e9b53a6f967d02cc5
}